* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* colours */
    --background: #e9e7e2;
    --red-hue: #fe3333;
    --light-blue: #488ad4;
    --mid-blue: #095ca9;
}

body {
    background-color: var(--background);
    /* font-family: "Spectral", serif; */
}

.centered-text {
    text-align: center;
}

h1 {
    color: var(--red-hue);
    font-family: "Metal Mania", cursive;
    font-size: 3rem;
}

.intro-text {
    font-size: 1.25rem;
}

.main-container {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    /* text-align: center; */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container > *:not(:first-child) {
    margin-top: 50px;
}

.child-container {
    padding: 20%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.31);
}

button {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--red-hue);
    background-color: #f4d8d6;
    border-radius: 7px;
}
