/**
 * TABLE OF CONTENTS
 *
 * Global Styles
 *    - Reset
 *    - Root Variables
 *    - Body Styles
 *    - Text Centering
 *    - Heading Styles
 *    - Label Styles
 *    - Intro Text
 *
 * Page Structure
 *    - Main Container
 *    - Child Container
 *
 * Buttons
 *    - Bigger Button
 *    - Delete Post Button
 *
 * Form Styling
 *    - Form Styles
 *    - Input and Textarea Styles
 *
 * List Styling
 *    - List Item Styles
 *
 * Message Containers
 *    - Message Container Styles
 */

/*-------------------
   #Global Styles
-------------------*/

/* Reset */
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Root Variables */
:root {
    /* colors */
    --background: #fcf8f8;
    --red-hue: #fe3333;
    --black: #000;
    --blue: #1c73e8;
    /* --mid-blue: #095ca9; */

    /* layout */
    --border-radius: 7px;
}

/* Body Styles */
body {
    background-color: var(--background);
    /* font-family: "Spectral", serif; */
}

/* Text Centering */
.centered-text {
    text-align: center;
}

/* Heading Styles */
h1,
h2 {
    font-family: "Metal Mania", cursive;
    color: var(--red-hue);
}

h1 {
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

/* Label Styles */
label {
    padding-bottom: 0.5rem;
}

/* Intro Text */
.intro-text {
    font-size: 1rem;
}

/*----------------------
   #Page Structure
----------------------*/

/* Main Container */
.main-container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    /* height: 100vh; */
    display: flex;
    /* text-align: center; */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container > *:not(:first-child) {
    margin-top: 50px;
}

/* Child Container */
.child-container {
    width: 100%;
    padding: 5%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 15px -2px rgba(28, 115, 232, 0.35);
}

/*-------------------
   #Buttons
-------------------*/

/* Bigger Button */
.bigger-button {
    width: 100%;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: inset 0px 1px 0px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border: 1px solid #1c75e8;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

/* Delete Post Button */
.deletePostButton {
    padding: 0.5rem;
    width: auto;
    aspect-ratio: 1/1;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 6px;
    border: 1px solid #d83526;
    color: white;
}

.deletePostButton:hover {
    background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color: #ce0100;
}

.deletePostButton:active {
    position: relative;
    top: 1px;
}

.flagPostButton {
    padding: 0.5rem;
    width: auto;
    aspect-ratio: 1/1;
    box-shadow: inset 0px 1px 0px 0px #f2e291;
    background: linear-gradient(to bottom, #ffd500 5%, #ccaa00 100%);
    background-color: #ffd500;
    border-radius: 6px;
    border: 1px solid #d9bb26;
    color: white;
}

.flagPostButton:hover {
    background: linear-gradient(to bottom, #cc9900 5%, #ffc400 100%);
    background-color: #cc9900;
}

.flagPostButton:active {
    position: relative;
    top: 1px;
}

.bigger-button:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.bigger-button:active {
    position: relative;
    top: 1px;
}

/*-------------------
   #Form Styling
-------------------*/

/* Form Styles */
form {
    padding: 2rem;
    border-radius: 1rem;
    /* background-color: #f8cfc6;
    border: 1px solid var(--red-hue); */
}

form > * > * {
    width: 100%;
    display: block;
}

/* Input and Textarea Styles */
input,
textarea {
    padding: 1rem;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
}

/*-------------------
   #List Styling
-------------------*/

/* List Item Styles */
li {
    list-style-type: none;
}

.misinfo-warning {
    grid-area: misinfo-warning;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    /* border-left: 5px solid hsl(0, 60%, 60%); */
    /* background-color: hsl(0, 100%, 90%); */
    color: var(--red-hue);
}

/*--------------------------
   #Message Containers
--------------------------*/

/* Message Container Styles */
ul {
    padding-inline-start: 0; /* set to override user-agent-stylesheet */
}

.message-container {
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "message message"
        "user-info link"
        "misinfo-warning misinfo-warning";
    justify-items: stretch;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 15px;
    background-color: #f2f9ff;
}

.message {
    grid-area: message;
}

.user-info {
    grid-area: user-info;
    font-style: italic;
}

.link {
    grid-area: link;
    justify-self: end;
}

/* Medium size devices */
@media screen and (min-width: 800px) {
    .main-container {
        width: 70%;
        padding: 50px;
    }
}

/* Larger screen sizes */
@media screen and (min-width: 1250px) {
    .child-container {
        width: 70%;
        /* padding: 5%; */
    }
}
